:root {
  background-color: #252627;
  color: #f2efe9;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

/* GENERAL */
.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.sparkle {
  width: 100px;
}

/* SPLASH PAGE STYLES */
.main_container {
  border: solid;
  border-radius: 100px;

  height: auto;
  /* width: 100%; */
  margin: 0;
  padding: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .left {
    transform: rotate(90deg);
  }

  .right {
    transform: rotate(-90deg);
  }

  .large {
    font-size: 70px;
    text-align: center;
  }
}

.little_container {
  margin-top: -40px;
  display: flex;
  justify-content: center;

  .p {
    background-color: #252627;
    text-align: center;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
  }
}

/* ABOUT STYLES */
.about_container {
  border-style: solid none solid solid;
  border-radius: 100px 0px 0px 100px;
  padding: 20px;
  margin: 20px 0px 0px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .one {
    width: 500px;
    max-width: 90%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile_img {
    width: 50%;
    border-radius: 200px;
    border: solid;
  }
}

.est {
  text-align: right;
  font-size: 15px;
}

/* PROJECTS SECTION STYLES */
.contact_container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .contact {
    padding: 20px;
    height: 75px;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact:hover {
    border: solid;
  }
}
