:root {
  font-family: monospace;
  background-color: #f5ebe0;

  .button {
    font-family: monospace;
    background-color: black;
    border-radius: 16px;
    padding: 10px;
  }

  .button:hover {
    cursor: pointer;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spash_page {
  border-radius: 20px;
  /* height: 95vh; */
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link_list {
  line-height: 30px;

  .a {
    text-decoration: none;
    color: black;
  }

  .a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.a_button {
  text-decoration: none;
  color: white;
}
