@font-face {
  font-family: "Bumerang";
  src: local("Bumerang-Regular"),
    url("./fonts/Bumerang-Regular.ttf") format("truetype");
}

:root {
  background-color: #252627;
  color: #e2caca;
  /* font-family: Bumerang; */
  font-size: 20px;
  padding: 0;
  margin: 0;
}

/* GENERAL */
.link {
  color: #cd5334;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.sparkle {
  width: 100px;
}

.icon {
  width: 50px;
}

/* SPLASH PAGE STYLES */
.main_container {
  border: solid;
  border-radius: 100px;

  height: auto;
  /* width: 100%; */
  margin: 0;
  padding: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .left {
    transform: rotate(90deg);
  }

  .right {
    transform: rotate(-90deg);
  }

  .large {
    font-size: 70px;
    text-align: center;
  }
}

.little_container {
  margin-top: -40px;
  display: flex;
  justify-content: center;

  .p {
    background-color: #252627;
    background-size: cover;
    text-align: center;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
  }
}

/* ABOUT STYLES */
.about_container {
  border-style: solid none solid solid;
  border-radius: 100px 0px 0px 100px;
  padding: 20px;
  margin: 20px 0px 0px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .one {
    width: 500px;
    max-width: 90%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile_img {
    width: 50%;
    border-radius: 200px;
    border: solid;
  }
}

.est {
  text-align: right;
  font-size: 15px;
}

/* PROJECT TYPE STYLES */
.type_container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .type {
    background-image: url("https://images.pexels.com/photos/2923591/pexels-photo-2923591.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 75px;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .type:hover {
    border: solid;
  }
}

/* PROJECTS SECTION STYLES */
.projects_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;

  .p {
    /* background-color: black; */
    margin-bottom: 0px;
  }

  .project {
    margin: 10px;
    padding: 20px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    background-image: url("https://images.pexels.com/photos/2923591/pexels-photo-2923591.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .project:hover {
    border: solid;
    cursor: pointer;
  }

  .arrow_icon {
    width: 50px;
  }
}

.more_projects {
  /* background-color: black; */
  padding: 20px;

  display: flex;
  justify-content: space-around;

  .project {
    width: 30%;
    height: 200px;
    border-radius: 10px;
    background-image: url("https://images.pexels.com/photos/2923591/pexels-photo-2923591.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project:hover {
    border: solid;
    cursor: pointer;
  }
}

/* CONTACT SECTION STYLES */
.contact_title {
  font-size: 50px;
  color: #e2caca;
}

.contact_container {
  background-color: black;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .contact {
    padding: 20px;
  }
}

/* TECHSTACK STYLES */
.techstack_container {
  text-align: center;

  .h {
    font-size: 30px;
  }
}

.techstack {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .language {
    border: solid;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
  }
}

/* RESUME STYLES */
.resume_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.resume_border {
  /* background-color: black; */
  border: solid;
  border-radius: 10px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  .title_container {
    transform: rotate(-90deg);
    height: auto;
    font-size: 50px;
  }

  .resume_photo_container {
    width: 500px;
  }

  .resume_photo {
    width: 500px;
    border-radius: 0px 5px 5px 0px;
    margin-bottom: -5px;
  }
}

/* HEADER STYLES */

.header_container {
  background-color: black;
  color: #e2caca;

  /* position: fixed; */
  /* width: 100%; */
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .header_icon {
    width: 30px;
  }
}
